$bgColor: #87CEFA;
$bgWrapper: #00BFFF;
$circleOrange: #FF8C00;
$circleSecond: #FFD700;
$circleYellow: #FFFF00;
$circleWhite: #fff;
$fontColor: #fff;
$headerBg: #0D0D0D;
$bgBody: #1A1A1A;
$bdSliderActive: #FF0000;